<div class="challenge-container">

            <!-- challange is working -> {{activeComponentType }}  - > {{currentStep.mode}} - > {{ currentStep.currentMode}}  -->


    @switch (activeComponentType) {

      @case ('quran') {
        <journey-challenge-quran
          [currentStep]="currentStep"
          [challengeData]="blockData"
          (subChallengeResponse)="onSubChallengeResponse($event)">
        </journey-challenge-quran>
      }


      @case ('video') {
        <journey-challenge-video
          [currentStep]="currentStep"
          [challengeData]="challengeData"
          (subChallengeResponse)="onSubChallengeResponse($event)">
        </journey-challenge-video>
      }
      @case ('mcq-default') {
        <journey-challenge-mcq
        [currentStep]="currentStep"
        [challengeData]="challengeData"
        [blockData]="blockData"
        (subChallengeResponse)="onSubChallengeResponse($event)">
        </journey-challenge-mcq>
      }
      @case ('mcq-options') {
        <journey-challenge-mcq-options
        [currentStep]="currentStep"
        [challengeData]="challengeData"
        (subChallengeResponse)="onSubChallengeResponse($event)">
        </journey-challenge-mcq-options>
      }
      @case ('match') {
        <!-- <challenge-journey-match
          [data]="currentStep"
          [mode]="mode"
          [messageResponse]="messageResponse"
          (challengeResponse)="onSpecificChallengeResponse($event)">
        </challenge-journey-match> -->
      }
      @default {
        <div class="unknown-challenge-type">
          <p>Unknown challenge type: {{ activeComponentType }}</p>
        </div>
      }
    }
  </div>