<app-menu
navClassName="container"
menuClassName="mx-auto"
[SearchWithText]="true"
/>

<main>
<!-- =======================
Page Banner START -->
<catalog-banner />
<!-- =======================
Page Banner END -->

<!-- =======================
Catalog START -->


<catalog-list/>
<!-- =======================
Catalog END -->

<!-- =======================
Language START -->
<!-- <categories-language /> -->
<!-- =======================
Language END -->

<!-- =======================
Action box START -->
<catalog-action-box />
<!-- =======================
Action box END -->
</main>

<app-footer className="bg-light" />
