<div class="surah-card" (click)="onSelect()">
  <div class="surah-number" style="margin-right:15px;">{{ surah.sura_no }}</div>
  <div class="surah-content">

    @if(surah){
    <div class="surah-title">
      <h3 class="surah-name">{{ surah.sura_name_ar }}</h3>
      <span class="surah-english">{{ surah.sura_name_en }}</span>
    </div>
    }

    
    <!-- <div class="surah-stats">
        <div class="stat-item">
          <div class="stat-label">الحفظ</div>
          <div class="progress-container">
            <div class="progress-bar" 
                 [style.width.%]="surah.memorizationStats?.masteryPercentage || 0"
                 [style.background-color]="getProgressColor()"></div>
            <span class="progress-text">{{ surah.memorizationStats?.masteryPercentage || 0 }}%</span>
          </div>
        </div>
        
        <div class="stat-item score">
          <div class="stat-label">المستوى</div>
          <div class="score-value" [style.color]="getScoreColor()">
            {{ surah.memorizationStats?.totalScore || 0 }}
          </div>
        </div>
        
        <div class="stat-item">
          <div class="stat-label">الصفحات</div>
          <div class="pages-info">
            <span class="completed">{{ surah.memorizationStats?.completedPages || 0 }}</span>
            <span class="separator">/</span>
            <span class="total">{{ surah.pages.length }}</span>
          </div>
        </div>
      </div> -->
  </div>

  <div class="decoration" [style.background-color]="getProgressColor()"></div>
</div>